*{
    margin:0;
    padding:0;
}
body{
    background-color: #EEE;
    font-family: 'Roboto', sans-serif;
   
}
.container{
    max-width:1000px;
    background-color:#E4F9F5;
    margin:0px auto;
    padding:20px;
}
.header{}
.profile-img{
    width:100px;
    height: 120px;
    border:3px solid white;
    border-radius:50%;
    float:left;
}
.head-bio{
    float:left;
    padding:30px;
}
h1,h2,h3,h4,h5,h6{
    color:#11999e;

}
.header-contact{
    float:right;
    padding:30px;
}
.header-contact a{
    text-decoration:none;
    font-weight:bold;
    color:teal;
}
.header-contact a:hover{
    text-decoration:underline;
    color:tomato;

    
}
.clear-div{
    clear:both;
}
hr{
    border:3px solid black;
    width:100%;
    border-bottom:none;
    margin:20px auto;
}
/* personlal information section start here */
#personal-information{}
.content{
    margin-bottom:20px;
}
.left-div{
    width:30%;
    float:left;
}
.right-div{
    width:70%;
    float:left;
}
.common-hr{
    border:1px solid black;
    border-bottom:none;
    width:100%;
    margin:20px auto;
}
/* Education start*/
.bsc-education{
    width:45%;
    float:left;
    margin-bottom: 10px;
}
.msc-education{
    width:45%;
    float:right;
    margin-bottom: 10px;
}
.ref-template-left{
    width:45%;
    float:left;
    margin-bottom: 10px;
}
.ref-template-right{
    width:45%;
    float:right;
    margin-bottom: 10px;
}
/* footer style start*/
.bottom-container{
    background-color: black;
    text-align: center;
    padding:10px;
}
.bottom-container a{
    color:white;
    text-decoration:none;
    margin:0px 10px;
}
.bottom-container p{
  color:white;
  margin-top:20px;

}